
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Slackey', cursiva;
    
    counter-reset: score;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: -10px;

}

.phone {
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

input[type=checkbox]{ 
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: relative;
    top: 0;
    width: 80px;
    z-index: 2;
}

input[type=checkbox]:focus{
    appearance: none;
    outline: none;

}
input:checked {
    counter-increment: score;
}

.score::after {
    content: counter(score);
}

.layer-1 {
    position: absolute;
    z-index: 1;
    height: 450px;
    width: 80px;
    bottom: 0;
    right: 60px;

    animation-name: layer-1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

@keyframes layer-1{
        0% {
            bottom:0;
        }
        25% {
            bottom: -80px;
        }
        100% {
            bottom: 0;
        }
    }

.layer-2 {
    position: absolute;
    z-index: 2;
    height: 450px;
    width: 80px;
    bottom: 0;
    left: 60px;

    animation-name: layer-2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes layer-2{
        30% {
            bottom:0;
        }
        55% {
            bottom: -80px;
        }
        90% {
            bottom: 0;
        }
    }


.layer-3 {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    height: 400px;
    background: #bb6d50;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #868686;
    overflow: hidden;


}

.layer-4 {
    position: absolute;
    z-index: 4;
    height: 350px;
    width: 80px;
    bottom: 0;
    left: 30px;

    animation-name: layer-4;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes layer-4{
        20% {
            bottom:0;
        }
        45% {
            bottom: -80px;
        }
        70% {
            bottom: 0;
        }
    }

.layer-5 {
    position: absolute;
    z-index: 5;
    left: 0;
    width: 180px;
    height: 300px;
    background: #bb6d50;
    bottom: 0;
    border-radius: 32px;
    box-shadow: 7px 8px 20px 0 #b1522f;
    overflow: hidden;


}

.layer-6 {
    position: absolute;
    z-index: 6;
    height: 250px;
    width: 80px;
    bottom: 0;
    right: 30px;

    animation-name: layer-6;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

@keyframes layer-6{
        15% {
            bottom:0;
        }
        50% {
            bottom: -80px;
        }
        80% {
            bottom: 0;
        }
    }

.layer-7 {
    position: absolute;
    z-index: 7;
    right: 0;
    width: 150px;
    height: 200px;
    background: #bb6d50;
    bottom: 0;
    border-radius: 32px;
    box-shadow: 7px 8px 20px 0 #868686;
    overflow: hidden;
}
.layer-8 {
    position: absolute;
    z-index: 8;
    height: 120px;
    width: 200px;
    background: #66a167;
    bottom: 0;
    right: 0;
    left: -6px;
    margin: 0 auto;
}

.layer-9 {
    position: absolute;
    z-index: 9;
    height: 100px;
    width: 80px;
    bottom: 0;
    left: 0px;
    background: white;
    border-bottom-left-radius: 32px;
}

.layer-10 {
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 120px;
    background: white;
    border-radius: 32px;
    bottom: 0;
    right: 0px;
}

.bunny {
    height: 50px;
    width: 80px;
    margin: 0 auto;
}

.left-ear--outer {
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
    top:3px;
}
.left-ear--inner {
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 8px;
}
.right-ear--outer {
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 3px;
}
.right-ear--inner {
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.head {
    background: white;
    border-radius: 50%;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 30px;  
    width: 100%;
}
.head__eye {
    background: gray;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 15px;  
    
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        height: 4px;
    }

    5% {
        transform: translate(0px, 2px);
        height: 1px;
    }

    10% {
        transform: translate(0px, 0px);
        height: 4px;
    }

}
.head__eye--left{
    left: 30px;
}
.head__eye--right{
    right: 30px;
}


.layer-3::after,
.layer-5::after,
.layer-7::after {
    content: "";
    position: absolute; 
    left: -0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #6aa067 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, #6aa067 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, #6aa067 25%, transparent 25%),
                linear-gradient(-45deg, #6aa067 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
}

.layer-3::before,
.layer-5::before,
.layer-7::before {
    content: "";
    position: absolute; 
    left: -0px;
    top: 15px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #a6543d 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, #a6543d 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, #a6543d 25%, transparent 25%),
                linear-gradient(-45deg, #a6543d 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
}

.grass {
    width: 120px;
    height: 120px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: -40px;
}

.grass::after {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 30px;
}

.grass::before {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: -70px;
    top: 30px;
}

.layer-9 .circle-big {
    position: absolute;
    background: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 30px;

}


.layer-9 .circle-small {
    position: absolute;
    background: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    bottom: 60px;
    left: 0px;
}

.layer-10 .circle-big {
    position: absolute;
    background: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    bottom: 32px;
    left: 0px;

}


.layer-10 .circle-small {
    position: absolute;
    background: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    bottom: 32px;
    left: -42px;
}

#reset-btn {
    background-color: #2f2f2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    margin-top: -50px;
}
